/*
 * global reset
*/
body,
html {
  height: 100%;
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: auto; }

article,
aside,
audio,
canvas,
caption,
details,
div,
figure,
footer,
header,
hgroup,
iframe,
img,
mark,
menu,
nav,
object,
section,
span,
summary,
table,
tbody,
td,
tfoot,
thead,
tr,
tr,
video {
  border: 0;
  margin: 0;
  padding: 0; }

a,
abbr,
address,
b,
blockquote,
cit,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
ins,
label,
legend,
li,
ol,
p,
pre,
q,
samp,
small,
strong,
sub,
sup,
ul {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
nav,
section,
video {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table caption,
  table td,
  table th {
    text-align: left;
    vertical-align: middle; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a img {
  border: 0; }

:focus {
  outline: 0; }

* {
  -webkit-box-sizing: border-box; }

textarea {
  resize: none;
  -webkit-appearance: none; }

input {
  -webkit-appearance: none; }

select {
  -webkit-appearance: none;
  background-color: #fff; }
  html{ font-size: 312.5%; } 
/*
*  rem布局 1rem = 100px
*/
@media screen and (max-width:359px) and (orientation:portrait) {
    html { font-size: 266.67%; } 
}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html { font-size: 300%; } 
}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html { font-size: 320%; } 
}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html { font-size: 333.33%; } 
}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){
    html { font-size: 345%; }
}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){
    html { font-size:360%; }
}
@media screen and (min-width:480px)and (max-width:639px) and (orientation:portrait){
   html{ font-size:400%;}
} 
@media screen and (min-width:640px) and (orientation:portrait){
   html{ font-size:533.33%;}
}